    <main>
      <!-- メインビジュアル -->
      <div id="mainvisual">
        <div class="container">
          <div class="row jutify-content-between">
            <div class="text col-6">
              <p class="title">お金についての相談は<br>Financial Planner App</p>
              <a class="btn" href="/signup">登録はこちら</a>
            </div>
            <div class="col-1">
            </div>
            <div class="col-5">
              <%= image_tag "undraw_landscape_photographer_1c1m.svg" %>
            </div>
          </div>
        </div>
      </div>
      <!-- BBBが選ばれる理由 -->
      <div class="container">
        <h2 class="section-title">
          <span class="ja">FP Appについて</span>
        </h2>
        <div class="row jutify-content-between">
          <div class="col-5">
            <%= image_tag "undraw_financial_data_re_p0fl.svg" %>
          </div>
          <div class="col-1">
          </div>
          <div class="col-5">
            <p>
              テキストテキストテキストテキストテキストテキスト
              テキストテキストテキストテキストテキストテキスト
            </p>
            <p>
              テキストテキストテキストテキストテキストテキスト
              テキストテキストテキストテキストテキストテキスト
            </p>
            <p>
              テキストテキストテキストテキストテキストテキスト
              テキストテキストテキストテキストテキストテキスト
            </p>
          </div>
        </div>
        <div class="row jutify-content-between">
          <div class="col-5 mt-30">
            <p>
              テキストテキストテキストテキストテキストテキスト
              テキストテキストテキストテキストテキストテキスト
            </p>
            <p>
              テキストテキストテキストテキストテキストテキスト
              テキストテキストテキストテキストテキストテキスト
            </p>
            <p>
              テキストテキストテキストテキストテキストテキスト
              テキストテキストテキストテキストテキストテキスト
            </p>
          </div>
          <div class="col-1">
          </div>
          <div class="col-5">
            <%= image_tag "undraw_family_vg76.svg" %>
          </div>
        </div>

        <div class="row jutify-content-between">
          <div class="col-5">
            <%= image_tag "undraw_automobile_repair_ywci.svg" %>
          </div>
          <div class="col-1">
          </div>
          <div class="col-5">
            <p>
              テキストテキストテキストテキストテキストテキスト
              テキストテキストテキストテキストテキストテキスト
            </p>
            <p>
              テキストテキストテキストテキストテキストテキスト
              テキストテキストテキストテキストテキストテキスト
            </p>
            <p>
              テキストテキストテキストテキストテキストテキスト
              テキストテキストテキストテキストテキストテキスト
            </p>
          </div>
        </div>
      </div>
      <div class="col-1">
      </div>
      <div class="col-5">
        <p>
          テキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキスト
        </p>
        <p>
          テキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキスト
        </p>
        <p>
          テキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキスト
        </p>
      </div>
    </div>

    <div class="row jutify-content-between">
      <div class="col-5 mt-30">
        <p>
          テキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキスト
        </p>
        <p>
          テキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキスト
        </p>
        <p>
          テキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキスト
        </p>
      </div>
      <div class="col-1">
      </div>
      <div class="col-5">
        <%= image_tag "undraw_family_vg76.svg" %>
      </div>
    </div>

    <div class="row jutify-content-between">
      <div class="col-5">
        <%= image_tag "undraw_automobile_repair_ywci.svg" %>
      </div>
      <div class="col-1">
      </div>
      <div class="col-5">
        <p>
          テキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキスト
        </p>
        <p>
          テキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキスト
        </p>
        <p>
          テキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキスト
        </p>
      </div>
    </div>
  </div>
  <!-- 受講生の声 -->
  <section id="voice" class="wrapper">
    <h2 class="section-title">相談者の声</h2>

    <div class="item-left inview-balloon">
      <div class="student">
        <p class="name">○○○さん<br>大学生</p>
      </div>
      <div class="balloon-text">
        <p>
          テキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>
          テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </p>
      </div>
    </div>

    <div class="item-right inview-balloon">
      <div class="balloon-text">
        <p>
          テキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>
          テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </p>
      </div>
      <div class="student">
        <p class="name">○○○さん<br>会社員</p>
      </div>
    </div>

    <div class="item-left inview-balloon">
      <div class="student">
        <p class="name">○○○さん<br>自営業</p>
      </div>
      <div class="balloon-text">
        <p>
          テキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>
          テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </p>
      </div>
    </div>
  </section>
  <section id="summary">
    <div class="wrapper">
      <h2 class="section-title">FP Appの概要</h2>

      <ul class="menu">
        <li>
          <h3 class="menu-title">
            <span class="ja">相談内容</span>
            <span class="en">CONSULT</span>
          </h3>
          <p>お金に関するスペシャリストが揃っているため、何でもご相談いただけます</p>
        </li>
        <li>
          <h3 class="menu-title">
            <span class="ja">料金プラン</span>
            <span class="en">PRICE</span>
          </h3>
          <p>FPによって料金は変わってくるため、ご予約の際にご確認ください</p>
        </li>
        <li>
          <h3 class="menu-title">
            <span class="ja">FPのご紹介</span>
            <span class="en">FP</span>
          </h3>
          <p>テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        </li>
        <li>
          <h3 class="menu-title">
            <span class="ja">FP AppのQ&A</span>
            <span class="en">Q&A</span>
          </h3>
          <p>テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        </li>
      </ul>
    </div>
  </section>
</main>
