<h1>
  <%= @user.name %>
</h1>
<div class="d-flex justify-content-center">
  <div class="history-btn <%= "select" if @status == "future" || @status == nil%>">
    <%= link_to "今後の予定", user_path(@user,{status: "future"})%>
  </div>
  <div class="history-btn <%= "select" if @status == "finished"%>">
    <%= link_to "終了済み", user_path(@user,{status: "finished"})%>
  </div>
</div>
<% if @status == "future" || @status == nil%>
  <div class="row justify-content-center my-5">
    <div class="col-sm-10">
      <%= render partial: 'user_reservation', collection: @user_future_reservations %>
    </div>
  </div>
<% elsif @status == "finished" %>
  <div class="row justify-content-center my-5">
    <div class="col-sm-10">
      <%= render partial: 'user_reservation', collection: @user_finished_reservations %>
    </div>
  </div>
<% end %>
