<div class="form-group">
  <div class="form_section py-5">
    <%= form_with(model: @schedule, local:true) do |f| %>
    <%= render 'shared/schedule_error_messages' %>
    <table class="date-table">
      <tr>
        <th>開始日時</th>
        <td>
          <label class="cal-wrap">
            <%= f.date_field :day, { class: "cal datepicker" } %>
          </label>
          <%= f.time_select :start_time, { start_hour:10, end_hour: 18, minute_step: 30, use_month_numbers: true}, { class: "time-select" } %>
        </td>
      </tr>
      <tr>
        <th>終了日時</th>
        <td class="d-flex justify-content-end">
          <div>
            <%= f.time_select :end_time, { start_hour:10, end_hour: 18, minute_step: 30, use_month_numbers: true}, { class: "time-select" } %>
          </div>
        </td>
      </tr>
    </table>
    <div class="d-flex justify-content-center">
      <%= f.submit '予約する' , {class:"btn-style"}%>
    </div>
    <% end %>
  </div>
</div>
