<div class="row justify-content-center">
  <div class="col-md-6 col-md-offset-3">
    <h1>ファイナンシャルプランナー登録</h1>
    <%= form_with(model: @financial_planner) do |f| %>
      <%= render 'shared/financial_planner_error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワードの再入力" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "この情報で登録を行う", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
