<h1>
  <%= current_fp.name %>
</h1>
<div class="d-flex justify-content-center">
  <div class="history-btn <%= "select" if @status == "before" || @status == nil%>">
    <%= link_to "今後の予定", financial_planner_path(@financial_planner,{status: "before"})%>
  </div>
  <div class="history-btn <%= "select" if @status == "after"%>">
    <%= link_to "終了済み", financial_planner_path(@financial_planner,{status: "after"})%>
  </div>
</div>
<% if @status == "before" || @status == nil%>
  <div class="row justify-content-center my-5">
    <div class="col-sm-10">
      <%= render partial: 'financial_planner_reservation', collection: @financial_planner_before_reservations %>
    </div>
  </div>
<% elsif @status == "after" %>
  <div class="row justify-content-center my-5">
    <div class="col-sm-10">
      <%= render partial: 'financial_planner_reservation', collection: @financial_planner_after_reservations %>
    </div>
  </div>
<% end %>
<%= month_calendar events: @financial_planner_before_reservations do |date, reservations|%>
  <%= date.day %>
<% end %>
