<nav class="navbar navbar-expand-sm bg-orange mb-3 container-fluid fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4"
    aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <% if logged_in? %>
    <%= link_to "Financial Planner app",current_user, {:class => "nav-brand text-dark"} %>
  <% else%>
    <a class="nav-link text-dark" href="/">Financial Planner app</a>
  <% end %>
  <div class="collapse navbar-collapse justify-content-end header">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <% if logged_in? %>
          <%= link_to "Home", current_user, {:class => "nav-link text-dark"} %>
        <% else%>
          <a class="nav-link text-dark" href="/">Home</a>
        <% end %>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">Service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">Price</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">Help</a>
      </li>
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to "reservation", reservations_index_path, {:class => "nav-link text-dark"}%>
        </li>
      <% end%>
      <% if financial_planner_logged_in?%>
        <li class="btn btn-success">
          <%= link_to "schedule", new_schedule_path , {:class => "nav-link text-dark"}%>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <% if logged_in? %>
          <li class="btn btn-success">
            <%= link_to "Log out", logout_path, data: { "turbo-method": :delete } %>
          </li>
        <% elsif financial_planner_logged_in? %>
          <li class="btn btn-success">
            <%= link_to "Log out", fplogout_path, data: { "turbo-method": :delete } %>
          </li>
        <% else %>
          <a class="btn btn-success" type="button" href="/login">個人向けログイン</a>
          <a class="btn btn-success" type="button" href="/fplogin">FP向けログイン</a>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
